.active {
  background: black;
  box-shadow: 0 0 10px 2px #7065ff;
}

.link {
  padding: 4px 7px;
  margin: 10px;
  position: relative;
  transition: color 550ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  font-size: 30px;
  border-radius: 7px;
  color: #ffffff;
  &:is(:hover, :active) {
    color: #2196f3;
  }
  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}
